[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pprof"]
	path = pprof
	url = https://github.com/um-kevinhe/pprof
[submodule "surtvep"]
	path = surtvep
	url = https://github.com/um-kevinhe/surtvep
